%p= person.email
= link_to "logout", logout_path, :method => :post
%table
  %tr
    %th Plan
    %th Free
    %th Personal
    %th Small
    %th Medium
    %th Large
  %tr
    %th Price
    %td $0
    %td $4
    %td $12
    %td $24
    %td $48
  %tr
    %th Snapshots
    %td 100
    %td 1,000
    %td 2,000
    %td 6,000
    %td 20,000
  %tr
    %th Cache Size
    %td 5,000
    %td 10,000
    %td 20,000
    %td 60,000
    %td 200,000
  %tr
    %th Commercial Use?
    %td No
    %td No
    %td Yes
    %td Yes
    %td Yes
  %tr
    %th SSL?
    %td No
    %td No
    %td Yes
    %td Yes
    %td Yes
  %tr
    %th Referrer/Host Limiting?
    %td No
    %td Yes
    %td Yes
    %td Yes
    %td Yes
  %tr
    %th Usage Stats
    %td Public
    %td Private
    %td Private
    %td Private
    %td Private
  %tr
    %td Get it!
    %td Free
    %td= render :partial => "checkout_form", :locals => { :price => '4.00' }
    %td= render :partial => "checkout_form", :locals => { :price => '12.00' }
    %td= render :partial => "checkout_form", :locals => { :price => '24.00' }
    %td= render :partial => "checkout_form", :locals => { :price => '48.00' }
