%h1 Pick a plan to claim your API key
%a(name="top")
%table
  %tr
    %th Plan
    %th Free
    %th Personal
    %th Small
    %th Medium
    %th Large
  %tr
    %th Price
    %td $0
    %td $4
    %td $12
    %td $24
    %td $48
  %tr
    %th
      %a(href="#snapshots") Snapshots
    %td 100
    %td 1,000
    %td 2,000
    %td 6,000
    %td 20,000
  %tr
    %th
      %a(href="#cache") Cache Size
    %td 5,000
    %td 10,000
    %td 20,000
    %td 60,000
    %td 200,000
  %tr
    %th
      %a(href="#commercial") Commercial Use?
    %td No
    %td No
    %td Yes
    %td Yes
    %td Yes
  %tr
    %th
      %a(href="#ssl") SSL?
    %td No
    %td No
    %td Yes
    %td Yes
    %td Yes
  %tr
    %th
      %a(href="#limiting") Referrer/Domain Limiting?
    %td No
    %td Yes
    %td Yes
    %td Yes
    %td Yes
  %tr
    %th
      %a(href="#stats") Usage Stats
    %td Public
    %td Private
    %td Private
    %td Private
    %td Private
  %tr
    %td Get it!
    %td Free
    %td= render :partial => "checkout_form", :locals => { :price => '4.00' }
    %td= render :partial => "checkout_form", :locals => { :price => '12.00' }
    %td= render :partial => "checkout_form", :locals => { :price => '24.00' }
    %td= render :partial => "checkout_form", :locals => { :price => '48.00' }

%ul
  %li
    %a(name="snapshots")
    %em Priority Snapshots -
    number of snapshots that are encoded at the highest priority. High priority
    snapshots generally take under 10 seconds to render. If you go over your
    allotted number of high priority snapshots they will be encoded at lower
    priority, which can take minutes to finish.
    %a(href="#top") Back to top
  %li
    %a(name="cache")
    %em Cache Size -
    Cached images are served almost instantly, in most cases in well under half a
    second.  There is no limit on the number of impressions of images that are
    served from the cache.
    %a(href="#top") Back to top
  %li
    %a(name="commercial")
    %em Commercial Use Allowed? -
    Free and personal plans cannot be used for commercial (for-profit) projects.
    %a(href="#top") Back to top
  %li
    %a(name="ssl")
    %em SSL Optional -
    Whether SSL requests to images are allowed.  To make an SSL request, simply
    change the domain of your API call to
    = link_to "https://pinkyurl.com/"
    %a(href="#top") Back to top
  %li
    %a(name="stylesheet")
    %em Custom Stylesheet -
    upload a custom style sheet to brand or format all images generated for your
    API key. Coming soon.
    %a(href="#top") Back to top
  %li
    %a(name="stats")
    %em Usage Statistics -
    see statistics about your usage.  How many encodes, how many cache hits,
    top referrers, recently viewed snapshots, most viewed snapshots.  These
    statistics are kept private for paid plans, but may be made publicly
    available for unpaid plans.
    %a(href="#top") Back to top
  %li
    %a(name="limiting")
    %em Referrer Limiting -
    make sure that nobody can use your API key but you.  Limit the referrers that
    are allowed to create images with your API key.
    %a(href="#top") Back to top
