.box
  %form{:action => '/i', :method => 'get', :id => 'i'}
    %nav
      .login
        - if person
          %span= link_to person.email, person
          = link_to "Sign out", logout_path, :method => :post
        - else
          = link_to "Sign in", login_path
      <strong>pinky</strong>url
    %h1 Snapshot any website
    %p
      %label{:for => 'url'} URL
      %input{:name => 'url', :id => 'url', :type => 'text', :value => @example}
      %input{:type => 'submit', :value => 'Create'}
      %a.options{:href => '#'} Options
    %p.minor.options
      %label{:for => 'out-format'} format
      %select{:name => 'out-format', :id => 'out-format'}
        - %w/ bmp gif html itext jpeg mng pdf png ppm ps rtree svg tiff xbm xpm /.each do |f|
          %option{:selected => (f == 'png')}= f
      %label{:for => 'resize'} resize
      %input{:name => 'resize', :id => 'resize', :value => 640, :type => 'text'}
      %label{:for => 'crop'} crop
      %input{:name => 'crop', :id => 'crop', :type => 'text'}
      %label{:for => 'expire'} expire
      %input{:name => 'expire', :id => 'expire', :type => 'checkbox', :value => 1}
    #info
      %hr/
      %p#message.minor
      %p.minor
        %label{:for => 'embed'} embed
        %textarea{:id => 'embed'}
      %p.minor
        %label{:for => 'key'} API key
        %input{:type => 'text', :id => 'key', :name => 'key', :value => @key.try(:value)}
        - if @key.try(:person)
          = link_to 'Claimed', @key
        - else
          %button{:id => 'claim'} Claim

:javascript
  $(document).ready(function() {
    var loading = $('<img class="loading" src="/images/loading.gif" />')
      .css('opacity', 0);

    $('a.options').click(function() {
      $('p.options').toggle('fast');
      return false;
    });

    $('#info textarea').focus(function() {
      $(this).select();
    });

    $('form :input:visible:first').select();

    $('form#i').submit(function() {
      var almostReady = false;
      var displayThumbnail = function() {
        if (!almostReady) {
          almostReady = true;
        } else {
          var f = $('form'),
              top = f.offset().top + f.outerHeight() + parseInt(f.css('marginBottom'));
          loading.fadeOut('normal', function() {
            img
              .hide()
              .appendTo(document.body)
              .wrap($('<a>').attr('href', img.attr('src')))
              .fadeIn('fast');
          });
        }
      };

      var img = $('<img class="thumbnail">')
        .load(displayThumbnail)
        .error(function(e) {
          $('#message').text('There was an error while generating your image.');
        });
      var createImage = function(form) {
        var query = $.param($.grep($(form).serializeArray(),
          function(o) { return o.value.length > 0; }));
        var url = $(form).attr('action') + '?' + query;
        img.attr('src', url);

        $('#message').text('');
        $('img.thumbnail').fadeOut('fast');
        $('h1')
          .fadeTo('normal', 0)
          .slideUp(function() {
            $('#info')
              .find('textarea')
                .text(window.location + url.replace('/', ''))
                .end()
              .slideDown()
              .find('textarea')
                .select();
            loading
              .appendTo(document.body)
              .show()
              .fadeTo('slow', 1,
                displayThumbnail);
          });
      };

      createImage(this);

      return false;
    });
  });
