.box
  %form{:action => '/i', :method => 'get', :id => 'i'}
    %h6
      .login
        - if person
          %span= person.email
          = link_to "logout", logout_path, :method => :post
        - else
          = link_to "login", login_path
      <span class="pink">pinky</span>url
    %h1 snapshot any website
    %p
      %label{:for => 'url'} URL
      %input{:name => 'url', :id => 'url', :type => 'text', :value => @example}
      %input{:type => 'submit', :value => 'create'}
      %a.options{:href => '#'} options
    %p.minor.options
      %label{:for => 'out-format'} format
      %select{:name => 'out-format', :id => 'out-format'}
        - %w/ bmp gif html itext jpeg mng pdf png ppm ps rtree svg tiff xbm xpm /.each do |f|
          %option{:selected => (f == 'png')}= f
      %label{:for => 'resize'} resize
      %input{:name => 'resize', :id => 'resize', :value => 640, :type => 'text'}
      %label{:for => 'crop'} crop
      %input{:name => 'crop', :id => 'crop', :type => 'text'}
      %label{:for => 'expire'} expire
      %input{:name => 'expire', :id => 'expire', :type => 'checkbox', :value => 1}
    #info
      %hr/
      %p#message.minor
      %p.minor
        %label{:for => 'embed'} embed
        %textarea{:id => 'embed'}
      %p.minor
        %label{:for => 'key'} API key
        %input{:type => 'text', :id => 'key', :name => 'key'}
        %button{:id => 'claim'} claim
  #billing
    %h2 Pick a plan to claim your API key
    %table
      %tr
        %th
        %th Free
        %th Personal
        %th Small
        %th Medium
        %th Large
      %tr
        %th
          %a.explain{:href => '#'} Snapshots
        %td 100
        %td 1,000
        %td 2,000
        %td 6,000
        %td 20,000
      %tr.explain
        %td{ :colspan => 6 }
          .explain
            Number of snapshots that are encoded at the highest priority. High
            priority snapshots generally take under 10 seconds to render. If
            you go over your allotted number of high priority snapshots they
            will be encoded at lower priority, which can take minutes to
            finish.
      %tr
        %th
          %a.explain{:href => '#'} Cache Size
        %td 5,000
        %td 10,000
        %td 20,000
        %td 60,000
        %td 200,000
      %tr.explain
        %td{ :colspan => 6 }
          .explain
            Cached images are served almost instantly, in most cases in well
            under half a second.  There is no limit on the number of
            impressions of images that are served from the cache.
      %tr
        %th
          %a.explain{:href => '#'} Commercial Use
        %td= image_tag('no.png')
        %td= image_tag('no.png')
        %td= image_tag('yes.png')
        %td= image_tag('yes.png')
        %td= image_tag('yes.png')
      %tr.explain
        %td{ :colspan => 6 }
          .explain
            Free and personal plans cannot be used for commercial (for-profit)
            projects.
      /
        %tr
          %th
            %a.explain{:href => '#'} SSL
          %td= image_tag('no.png')
          %td= image_tag('no.png')
          %td= image_tag('yes.png')
          %td= image_tag('yes.png')
          %td= image_tag('yes.png')
        %tr.explain
          %td{ :colspan => 6 }
            .explain
              Whether Secure Sockets Layer (SSL) requests to images are allowed.
              To make an SSL request, simply change the domain of your API call
              to
              = link_to "https://pinkyurl.com/"
      %tr
        %th
          %a.explain{:href => '#'} Referrer/Domain Limiting
        %td= image_tag('no.png')
        %td= image_tag('yes.png')
        %td= image_tag('yes.png')
        %td= image_tag('yes.png')
        %td= image_tag('yes.png')
      %tr.explain
        %td{ :colspan => 6 }
          .explain
            Make sure that nobody can use your API key but you.  Limit the
            referrers that are allowed to create images with your API key.
      %tr
        %th
          %a.explain{:href => '#'} Usage Stats
        %td
          = image_tag('public.png')
          Public
        %td
          = image_tag('private.png')
          Private
        %td
          = image_tag('private.png')
          Private
        %td
          = image_tag('private.png')
          Private
        %td
          = image_tag('private.png')
          Private
      %tr.explain
        %td{ :colspan => 6 }
          .explain
            See statistics about your usage.  How many encodes, how many cache
            hits, top referrers, recently viewed snapshots, most viewed
            snapshots.  These statistics are kept private for paid plans, but
            may be made publicly available for unpaid plans.
      %tr.price
        %th Price
        %td $0
        %td $4
        %td $12
        %td $24
        %td $48
      %tr
        %td
        %td Free
        %td= render :partial => "checkout_form", :locals => { :price => '4.00' }
        %td= render :partial => "checkout_form", :locals => { :price => '12.00' }
        %td= render :partial => "checkout_form", :locals => { :price => '24.00' }
        %td= render :partial => "checkout_form", :locals => { :price => '48.00' }
        // %em Custom Stylesheet -
        // upload a custom style sheet to brand or format all images generated
        // for your API key. Coming soon.
:javascript
  $(document).ready(function() {
    var loading = $('<img class="loading" src="/images/loading.gif" />')
      .css('opacity', 0);

    $('a.options').click(function() {
      $('p.options').toggle('fast');
      return false;
    });

    $('#claim').click(function() {
      $('#billing').slideToggle('fast');
      return false;
    });

    $('a.explain').click(function() {
      $(this).closest('tr').next('tr.explain').find('.explain')
        .slideToggle('fast');
      return false;
    });

    $('#info textarea').focus(function() {
      $(this).select();
    });

    $('form :input:visible:first').select();

    $('form#i').submit(function() {
      var almostReady = false;
      var displayThumbnail = function() {
        if (!almostReady) {
          almostReady = true;
        } else {
          var f = $('form'),
              top = f.offset().top + f.outerHeight() + parseInt(f.css('marginBottom'));
          loading.fadeOut('normal', function() {
            img
              .hide()
              .appendTo(document.body)
              .wrap($('<a>').attr('href', img.attr('src')))
              .fadeIn('fast');
          });
        }
      };

      var img = $('<img class="thumbnail">')
        .load(displayThumbnail)
        .error(function(e) {
          $('#message').text('There was an error while generating your image.');
        });
      var createImage = function(form) {
        var query = $.param($.grep($(form).serializeArray(),
          function(o) { return o.value.length > 0; }));
        var url = $(form).attr('action') + '?' + query;
        img.attr('src', url);

        $('#message').text('');
        $('img.thumbnail').fadeOut('fast');
        $('h1')
          .fadeTo('normal', 0)
          .slideUp(function() {
            $('#info')
              .find('textarea')
                .text(window.location + url.replace('/', ''))
                .end()
              .slideDown()
              .find('textarea')
                .select();
            loading
              .appendTo(document.body)
              .show()
              .fadeTo('slow', 1,
                displayThumbnail);
          });
      };

      if (!$('input#key').val()) {
        $.post('/keys.json', null, function(data, status) {
          var value = data.key.value;
          $('input#key').val(value);
          document.cookie = 'key=' + value + ';max-age=31557600';
          createImage('#i');
        }, 'json');
      } else {
        createImage(this);
      }

      return false;
    });
  });
