.box
  This is key #{@key.value}. It belongs to
  - if @key.person
    = link_to @key.person.email, @key.person
  - else
    nobody

  %h2 Usage Trend
  %table#trend
    %thead
      %tr
        %th Date
        %th Requests
    %tbody

  %h2 Recent Activity
  #log

:coffee
  class LogView
    constructor: (logItem) ->
      @img: "/i?" + $.param({
        url: logItem.url,
        key: "#{@key.value}",
        resize: 150, crop: "150x100" })
      @url: logItem.url
      @access_at: logItem.access_at
      @referrer: logItem.referrer
      @has_referrer: @referrer.match /\w/
      @referrer_host: parseUri(logItem.referrer).host
      @seconds: logItem.seconds.toFixed(4)
      @cache_hit: logItem.cache_hit

  logTemplate: '''
    <div class="log-item">
      <a href="{{img}}"><img src="{{img}}" /></a>
      <h3><a href="{{url}}" title="{{url}}">{{url}}</a></h3>
      <div class="stats">
        <span class="date">{{access_at}}</span> &ndash;
        {{#has_referrer}}
          from <a href="{{referrer}}" title="{{referrer}}">{{referrer_host}}</a> &ndash;
        {{/has_referrer}}
        {{seconds}}s
        {{#cache_hit}}
          (cache hit)
        {{/cache_hit}}
      </div>
    </div>'''

  dailyTemplate: '''
    <tr>
      <td>{{day}}</td>
      <td>{{requests}}</td>
    </tr>
    '''

  $ ->
    updateTrend: ->
      $.getJSON "#{GreenSavant.url.to_s.sub('Log','Daily')}?api_key=#{@key.secret}&callback=?", (daily) ->
        trendHtml: _(daily).chain().group((i) -> Date.parse(i.day)).map((g) ->
          Mustache.to_html(dailyTemplate, {
            day: g[0].day
            requests: _(g).reduce(0, (sum, d) -> sum + d.requests)
          })
        ).value()
        $('table#trend tbody').html trendHtml.join("\n")
    updateTrend()

    updateLog: ->
      $.getJSON "#{GreenSavant.url}?api_key=#{@key.secret}&callback=?", (log) ->
        itemsHtml: log.map (logItem) ->
          Mustache.to_html logTemplate, new LogView(logItem)
        $('#log').html itemsHtml.join("\n")
        $('#log .date').prettyDate()
    updateLog()
    setInterval updateLog, 5000
