.box
  This is key #{@key.value}. It belongs to
  - if @key.person
    = link_to @key.person.email, @key.person
  - else
    nobody

%h2 Recent Activity
#log

:coffee
  logHtml: _.template '''
    <div class="log-item">
      <img src="/i?{{$.param({url: url, key: "#{@key.value}", resize: 150, crop: "150x100"})}}" />
      <h3><a href="{{url}}" title="{{url}}">{{url}}</a></h3>
      <div class="stats">
        <span class="date">{{access_at}}</span> &ndash;
        from <a href="{{referrer}}" title="{{referrer}}">{{parseUri(referrer).host}}</a> &ndash;
        {{seconds.toFixed(3)}}s
        {{ cache_hit ? ' (cache hit)' : '' }}
      </div>
    </div>
    '''
  $ ->
    updateLog: ->
      $.getJSON "#{GreenSavant.url}?api_key=#{@key.secret}&callback=?", (log) ->
        $('#log').html log.map(logHtml).join('')
        $('#log .date').prettyDate()
    updateLog()
    setInterval updateLog, 5000
