!!! 5
%html
  %head
    %title= 'pinkyurl'
    = stylesheet_link_tag 'jquery.jqplot.min'
    = stylesheet_link_tag 'application', :media => 'all'
    <!--[if IE]>
    = javascript_include_tag 'excanvas.min.js'
    <![endif]-->
    - if Rails.env.production?
      = javascript_include_tag 'http://code.jquery.com/jquery.min.js'
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'
      = javascript_include_tag 'underscore-min'
      = javascript_include_tag 'jquery.jqplot.min', 'jqplot/jqplot.barRenderer.min', 'jqplot/jqplot.categoryAxisRenderer.min'
    - else
      = javascript_include_tag 'jquery-1.4.js', 'jquery-ui-1.8.custom.js'
      = javascript_include_tag 'underscore'
      = javascript_include_tag 'jquery.jqplot', 'jqplot/jqplot.barRenderer', 'jqplot/jqplot.categoryAxisRenderer'
    = javascript_include_tag 'http://use.typekit.com/hud2iio.js', 'parseuri', 'pretty_date', 'mustache'
    :javascript
      Typekit.load();
    = coffee_script_bundle
  %body{:class => "#{params[:controller]} #{params[:controller]}-#{params[:action]} #{@_first_render.path_without_format_and_extension.gsub('/', '-')}"}
    = yield
    - if Rails.env.production?
      %script{ :type => 'text/javascript', :src => 'http://static.getclicky.com/js' }
      :javascript
        clicky.init(157700);
      %noscript
        %img{ :width => 1, :height => 1, :src => 'http://static.getclicky.com/157700ns.gif' }
    #footer.box
      .feedback
        %h2 Questions? Comments?
        %p.status
        %form{ :action => 'http://www.postalgone.com/mail', :method => 'POST' }
          %input{ :type => 'hidden' , :name => 'to', :value => 'support@fortnightlabs.com' }
          - if person
            %input{ :type => 'hidden', }
          %input{ :type => 'hidden' , :name => 'subject', :value => 'pinkyurl feedback' }
          %input{ :type => 'hidden' , :name => 'location', :value => url_for(:feedback => true) }
          %textarea{ :placeholder => 'Send us feedback', :name => 'message' }
          %input{ :type => 'submit', :value => 'Send' }
        :javascript
          $(function() {
            $('#footer .feedback form').submit(function() {
              var $form = $(this);
              $form.find('input[type=submit]').attr('disabled', 'disabled');
              $form.find('textarea').attr('readonly', 'readonly');
              $form.prev('p.status')
                .html('<img src="/images/loading.gif" /> Sending&hellip;')
                .slideDown();
              $.getJSON($form.attr('action') + '?' + $form.serialize(), function() {
                $form.prev('p.status')
                  .fadeOut(function() {
                    $(this)
                      .html('Thanks for your feedback!')
                      .fadeIn()
                      .delay('slow')
                      .slideUp(function() {
                        $form.find('input[type=submit]').removeAttr('disabled');
                        $form.find('textarea').removeAttr('readonly');
                        $form.find('textarea').val('');
                      });
                  });
              });
              return false;
            });
          });
      .fluff
        %h2 About
        = link_to 'Features / Pricing', pricing_path
        .fortnight
          Created by
          = link_to 'Fortnight Labs'
          = image_tag 'http://fortnightlabs.com/images/logo.png'