!!! 5
%html
  %head
    %title= 'pinkyurl'
    = stylesheet_link_tag 'application', :media => 'all'
    - if Rails.env.production?
      = javascript_include_tag 'http://code.jquery.com/jquery.min.js'
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'
      = javascript_include_tag 'underscore-min', 'raphael-min', 'g.raphael-min', 'g.bar'
    - else
      = javascript_include_tag 'jquery-1.4.js', 'jquery-ui-1.7.2.js', 'underscore', 'raphael', 'g.raphael', 'g.bar'
    = javascript_include_tag 'http://use.typekit.com/hud2iio.js', 'parseuri', 'pretty_date', 'mustache'
    :javascript
      Typekit.load();
    = coffee_script_bundle
  %body{:class => "#{params[:controller]} #{params[:controller]}-#{params[:action]} #{@_first_render.path_without_format_and_extension.gsub('/', '-')}"}
    = yield
    - if Rails.env.production?
      %script{ :type => 'text/javascript', :src => 'http://static.getclicky.com/js' }
      :javascript
        clicky.init(157700);
      %noscript
        %img{ :width => 1, :height => 1, :src => 'http://static.getclicky.com/157700ns.gif' }
